@font-face {
    font-family: "MisoRegular";
    src: url("../resources/MisoRegular.otf");
}

* {
	margin: 0px;
	padding: 0px;
}

body {
    background-image: url(../img/fondo.jpg);
}

div.header {    
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}

h1 {
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff2d95, 0 0 30px #ff2d95, 0 0 40px #ff2d95, 0 0 50px #ff2d95, 0 0 75px #ff2d95;
    letter-spacing: 50px;
    font: 80px 'MisoRegular';
}

div.title {
    display: flex;
    justify-content: center; /*Centrar el objeto dentro del div*/
    align-items: center;
}

div.user {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px;
}

div.user_data {
    display: flex;
    flex-direction: column;
    text-align: center;
    font: 20px 'MisoRegular';
}

img {
    width: 52px;
    height: 52px;
}

div.main {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    margin-right: 25%;
    font: 30px 'MisoRegular';
}

div.task {
    margin-top: 25px;
    padding: 10px;
    border: solid #EBACBC;
    display: flex;
    justify-content: space-between;
}

div.not_finished_task_text {
    display: flex;
    flex-direction: row;
}

div.finished_task_text {
    display: flex;
    flex-direction: row;
    text-decoration:line-through;
}

div.tags {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
}

.tag {
    color: white;
    font-size: 60%;
    margin-right: 10px;
    padding: 5px;
    border-radius: 10px;
    border: solid white 2px;
}

div.add_task {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.delete_tasks {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    cursor: pointer;
    text-decoration: none;
    background-color: #EBACBC;
    color: black;
}