<!DOCTYPE html>
<html lang="es">

<head>
    <title>Sumador</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/ej3.css">
</head>

<body>
    <h1>SUMADOR DE NÚMEROS</h1>
    <form action="firstNumber" method="POST">
        <p>Introduzca el primer número</p>
        <input type="text" name="firstNumber">
        <input type="submit" value="Enviar">
    </form>
</body>

</html>