<!DOCTYPE html>
<html lang="es">

<head>
    <title>Sumador</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/ej3.css">
</head>

<body>
    <h1>RESULTADO</h1>
    <h2><%=firstNumber%> + <%=secondNumber%> = <%=firstNumber + secondNumber%></h2>
</body>
<a href="firstNumber">Volver</a>

</html>