<!DOCTYPE html>
<html lang="es">

<head>
    <title>Gestión de tareas</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/tasks.css">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
</head>

<body>
    <!-- HEADER -->
    <div class="titulo header">
        <h1 id="titulo">
            TAREAS
        </h1>
    </div>
    <div class="usuario header">
        <div>
            <img src="img/user.png">
        </div>
        <div class="datosUsuario">
            <p>o</p>
            <a href="http://www.google.com">Desconectado</a>
        </div>
    </div>
        <ul>

        </ul>
    <div class="main">

        <!-- TAREAS -->
        <% for(var i = 0; i < 10; i++) { %>
            <li> <%= i %> </li>
        <% } %>
        <!-- AGREGAR TAREAS -->
        <div class="agregar_tarea">
            <form>
                <input type="text">
                <input type="submit" value="Añadir">
            </form>
        </div>

        <!-- ELIMINAR TAREAS -->
        <div class="eliminar_tareas">
            <a href="http://google.com">Eliminar tareas completadas</a>
        </div>
    </div>
</body>

</html>